<a href="https://colab.research.google.com/github/cristiandarioortegayubro/Ciencia-de-Datos-en-Ciencias-Economicas-con-Python/blob/master/Estadistica_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas** - Estadistica Descriptiva - **01**

## **Código** - Limpieza y Transformación de Datos - **03**

In [1]:
import numpy as np
import pandas as pd
import pandas_datareader as data
BTC2019 = data.DataReader("BTC-USD", start="2018-12-31", end="2019-12-31", data_source="yahoo")
df = pd.DataFrame(BTC2019)
df.insert(0,column="Date",value=df.index.values)
df.reset_index(drop=True, inplace=True)
df.insert(1,column="Day",value=pd.DatetimeIndex(df['Date']).day_name())
df.insert(2,column="Month",value=pd.DatetimeIndex(df['Date']).month_name())
df.rename(columns={'Adj Close':'Adj_Close'}, inplace=True)
df['Pct_Change'] = df.Adj_Close.pct_change()*100
df['Diff'] = df.Adj_Close.diff()
df['Eval'] = df.eval('Close >= Open')
df.dropna(how='any', inplace=True)
pd.options.display.precision = 2
df.drop(['High','Low','Open','Close','Volume'], axis=1, inplace=True)
df.head()

        Date        Day    Month  Adj_Close  Pct_Change    Diff   Eval
1 2019-01-01    Tuesday  January    3843.52        2.69  100.82   True
2 2019-01-02  Wednesday  January    3943.41        2.60   99.89   True
3 2019-01-03   Thursday  January    3836.74       -2.70 -106.67  False
4 2019-01-04     Friday  January    3857.72        0.55   20.98   True
5 2019-01-05   Saturday  January    3845.19       -0.32  -12.52  False

## Mis primeros cálculos estadisticos

### Resumen

In [2]:
df.describe()

       Adj_Close  Pct_Change     Diff
count     366.00      366.00   366.00
mean     7394.71        0.24     9.45
std      2635.04        3.56   316.00
min      3399.47      -14.09 -1833.42
25%      4890.61       -1.26   -89.23
50%      7823.13        0.12     5.26
75%      9545.58        1.52   102.44
max     13016.23       17.36  1225.31

**Los valores que se desplegan son:**
+ **count:** cuenta de las observaciones del conjunto de datos.
+ **mean:** representa la media de los valores de las observaciones.
+ **std:** es el valor del error estándar.
+ **min:** es el mínimo valor.
+ **25%:** es el valor del primer cuartíl también definido Q1.
+ **50%:** es el valor del segundo cuartíl también definido Q2, que es la mediana.
+ **75%:** es el valor del tercer cuartíl también definido Q3.
+ **max:** es el máximo valor.

### Máximo valor, Minimo valor y Rango

In [11]:
df['Adj_Close'].max()

13016.2314453125

In [9]:
df['Adj_Close'].min()

3399.4716796875

In [12]:
rango = df['Adj_Close'].max() - df['Adj_Close'].min()
rango

9616.759765625

### Media y Mediana

In [13]:
df['Adj_Close'].mean()

7394.71329685899

In [14]:
df['Adj_Close'].median()

7823.12744140625

### Sesgo

In [22]:
df['Adj_Close'].skew()

-0.08511747960779144

### Desviación Estándar

In [20]:
df['Adj_Close'].std()

2635.0377330599617

### Cuantiles

In [24]:
df['Adj_Close'].quantile(q=0.25)

4890.608154296875

In [25]:
df['Adj_Close'].quantile(q=0.5)

7823.12744140625

In [26]:
df['Adj_Close'].quantile(q=0.75)

9545.576171875

### Kurtosis

In [21]:
df['Adj_Close'].kurtosis()

-1.220165403809925

### Ranking

In [18]:
df['Adj_Close'].rank().head()

1    43.0
2    62.0
3    42.0
4    49.0
5    44.0
Name: Adj_Close, dtype: float64

### Valores únicos

In [19]:
df.nunique()

Date          365
Day             7
Month          12
Adj_Close     366
Pct_Change    366
Diff          366
Eval            2
dtype: int64