<a href="https://colab.research.google.com/github/cristiandarioortegayubro/Ciencia-de-Datos-en-Ciencias-Economicas-con-Python/blob/master/Limpieza_y_Transformaci%C3%B3n_de_Datos_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas** - Limpieza y Transformaci贸n de Datos - **03**

## **C贸digo** - Limpieza y Transformaci贸n de Datos - **02**

In [1]:
import numpy as np
import pandas as pd
import pandas_datareader as data
BTC2019 = data.DataReader("BTC-USD", start="2018-12-31", end="2019-12-31", data_source="yahoo")
df = pd.DataFrame(BTC2019)
df.insert(0,column="Date",value=df.index.values)
df.reset_index(drop=True, inplace=True)
df.insert(1,column="Day",value=pd.DatetimeIndex(df['Date']).day_name())
df.insert(2,column="Month",value=pd.DatetimeIndex(df['Date']).month_name())
df.rename(columns={'Adj Close':'Adj_Close'}, inplace=True)
df['Pct_Change'] = df.Adj_Close.pct_change()*100
df['Diff'] = df.Adj_Close.diff()
df['Eval'] = df.eval('Close >= Open')
df.dropna(how='any', inplace=True)
pd.options.display.precision = 2
df.head()

        Date        Day    Month     High  ...  Adj_Close  Pct_Change    Diff   Eval
1 2019-01-01    Tuesday  January  3850.91  ...    3843.52        2.69  100.82   True
2 2019-01-02  Wednesday  January  3947.98  ...    3943.41        2.60   99.89   True
3 2019-01-03   Thursday  January  3935.69  ...    3836.74       -2.70 -106.67  False
4 2019-01-04     Friday  January  3865.93  ...    3857.72        0.55   20.98   True
5 2019-01-05   Saturday  January  3904.90  ...    3845.19       -0.32  -12.52  False

[5 rows x 12 columns]

### Eliminando columnas

In [2]:
df.drop(['High','Low','Open','Close','Volume'], axis=1, inplace=True)
df.head()

        Date        Day    Month  Adj_Close  Pct_Change    Diff   Eval
1 2019-01-01    Tuesday  January    3843.52        2.69  100.82   True
2 2019-01-02  Wednesday  January    3943.41        2.60   99.89   True
3 2019-01-03   Thursday  January    3836.74       -2.70 -106.67  False
4 2019-01-04     Friday  January    3857.72        0.55   20.98   True
5 2019-01-05   Saturday  January    3845.19       -0.32  -12.52  False

Lo mismo se logra con la siguiente sintaxis
~~~
df = df.drop(['High','Low','Open','Close','Volume'], axis=1)
~~~
el atributo inplace permite obviar df = 
Tambi茅n se puede observar que la columna Eval contin煤a con sus valores porque fue creada previamente a la eliminaci贸n de las columnas Open y Close.