<a href="https://colab.research.google.com/github/cristiandarioortegayubro/Ciencia-de-Datos-en-Ciencias-Economicas-con-Python/blob/master/Mi_primer_DataFrame_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas** - Mi primer DataFrame - **01**

## Carga de librerías necesarias

In [ ]:
import numpy as np
import pandas as pd
import pandas_datareader as data

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

## Extracción de datos remotos con datareader

In [ ]:
BTC2019 = data.DataReader("BTC-USD", start="2019-01-01", end="2019-12-31", data_source="yahoo")

## Creación del primer DataFrame

In [ ]:
df = pd.DataFrame(BTC2019)

## Consultando el primer DataFrame

In [ ]:
df.head()

                   High          Low  ...      Volume    Adj Close
Date                                  ...
2019-01-01  3850.913818  3707.231201  ...  4324200990  3843.520020
2019-01-02  3947.981201  3817.409424  ...  5244856835  3943.409424
2019-01-03  3935.685059  3826.222900  ...  4530215218  3836.741211
2019-01-04  3865.934570  3783.853760  ...  4847965467  3857.717529
2019-01-05  3904.903076  3836.900146  ...  5137609823  3845.194580

[5 rows x 6 columns]

In [ ]:
df.tail()

                   High          Low  ...       Volume    Adj Close
Date                                  ...
2019-12-28  7399.041016  7286.905273  ...  21365673026  7317.990234
2019-12-29  7513.948242  7279.865234  ...  22445257701  7422.652832
2019-12-30  7454.824219  7276.308105  ...  22874131671  7292.995117
2019-12-31  7335.290039  7169.777832  ...  21167946112  7193.599121
2020-01-01  7254.330566  7174.944336  ...  18565664996  7200.174316

[5 rows x 6 columns]

In [ ]:
df.shape

(366, 6)

In [ ]:
df.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')