<a href="https://colab.research.google.com/github/cristiandarioortegayubro/Ciencia-de-Datos-en-Ciencias-Economicas-con-Python/blob/master/Pandas_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas 02** - ANÁLISIS DE DATOS - **INTRODUCCIÓN**

In [4]:
#@markdown ##Clic para extraer, transformar y leer el DF Bitcoin 2019
import numpy as np
import pandas as pd
import pandas_datareader as pdr
BTC2019 = pdr.DataReader("BTC-USD", start='2019-01-01', end='2019-12-31', data_source='yahoo')
df = pd.DataFrame(BTC2019)
df.head()

                   High          Low  ...      Volume    Adj Close
Date                                  ...
2019-01-01  3850.913818  3707.231201  ...  4324200990  3843.520020
2019-01-02  3947.981201  3817.409424  ...  5244856835  3943.409424
2019-01-03  3935.685059  3826.222900  ...  4530215218  3836.741211
2019-01-04  3865.934570  3783.853760  ...  4847965467  3857.717529
2019-01-05  3904.903076  3836.900146  ...  5137609823  3845.194580

[5 rows x 6 columns]