<a href="https://colab.research.google.com/github/cristiandarioortegayubro/Ciencia-de-Datos-en-Ciencias-Economicas-con-Python/blob/master/Pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas 01** - ANÁLISIS DE DATOS - **INTRODUCCIÓN**

## Carga de librerías necesarias

In [1]:
import numpy as np
import pandas as pd

## Creación de un DataFrame - Extracción de datos

In [2]:
import pandas_datareader as pdr
BTC2019 = pdr.DataReader("BTC-USD", start='2018-12-31', end='2019-12-29', data_source='yahoo')

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
df = pd.DataFrame(BTC2019)

## Tipos de datos del DataFrame y tamaño

In [4]:
df.dtypes

High         float64
Low          float64
Open         float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 365 entries, 2018-12-31 to 2019-12-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       365 non-null    float64
 1   Low        365 non-null    float64
 2   Open       365 non-null    float64
 3   Close      365 non-null    float64
 4   Volume     365 non-null    int64
 5   Adj Close  365 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 20.0 KB

In [6]:
df.shape

(365, 6)

## Visualización de los datos del DataFrame

In [7]:
df.head()

                   High          Low  ...      Volume    Adj Close
Date                                  ...
2018-12-31  3868.742920  3725.867432  ...  4661840806  3742.700439
2019-01-01  3850.913818  3707.231201  ...  4324200990  3843.520020
2019-01-02  3947.981201  3817.409424  ...  5244856835  3943.409424
2019-01-03  3935.685059  3826.222900  ...  4530215218  3836.741211
2019-01-04  3865.934570  3783.853760  ...  4847965467  3857.717529

[5 rows x 6 columns]

In [8]:
df.tail()

                   High          Low  ...       Volume    Adj Close
Date                                  ...
2019-12-26  7388.302734  7200.386719  ...  22787010034  7238.966797
2019-12-27  7363.529297  7189.934082  ...  22777360995  7290.088379
2019-12-28  7399.041016  7286.905273  ...  21365673026  7317.990234
2019-12-29  7513.948242  7279.865234  ...  22445257701  7422.652832
2019-12-30  7454.824219  7276.308105  ...  22874131671  7292.995117

[5 rows x 6 columns]

In [9]:
df.index

DatetimeIndex(['2018-12-31', '2019-01-01', '2019-01-02', '2019-01-03',
               '2019-01-04', '2019-01-05', '2019-01-06', '2019-01-07',
               '2019-01-08', '2019-01-09',
               ...
               '2019-12-21', '2019-12-22', '2019-12-23', '2019-12-24',
               '2019-12-25', '2019-12-26', '2019-12-27', '2019-12-28',
               '2019-12-29', '2019-12-30'],
              dtype='datetime64[ns]', name='Date', length=365, freq=None)

In [10]:
df.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

## Transformación de los datos del DataFrame

In [11]:
df.head()

                   High          Low  ...      Volume    Adj Close
Date                                  ...
2018-12-31  3868.742920  3725.867432  ...  4661840806  3742.700439
2019-01-01  3850.913818  3707.231201  ...  4324200990  3843.520020
2019-01-02  3947.981201  3817.409424  ...  5244856835  3943.409424
2019-01-03  3935.685059  3826.222900  ...  4530215218  3836.741211
2019-01-04  3865.934570  3783.853760  ...  4847965467  3857.717529

[5 rows x 6 columns]

In [12]:
df.insert(0,column='Date',value=df.index.values)
df.reset_index(drop=True, inplace=True)
df.head()

        Date         High          Low  ...        Close      Volume    Adj Close
0 2018-12-31  3868.742920  3725.867432  ...  3742.700439  4661840806  3742.700439
1 2019-01-01  3850.913818  3707.231201  ...  3843.520020  4324200990  3843.520020
2 2019-01-02  3947.981201  3817.409424  ...  3943.409424  5244856835  3943.409424
3 2019-01-03  3935.685059  3826.222900  ...  3836.741211  4530215218  3836.741211
4 2019-01-04  3865.934570  3783.853760  ...  3857.717529  4847965467  3857.717529

[5 rows x 7 columns]

In [13]:
df.insert(1,column='Day',value=pd.DatetimeIndex(df['Date']).day_name())
df.head()

        Date        Day         High  ...        Close      Volume    Adj Close
0 2018-12-31     Monday  3868.742920  ...  3742.700439  4661840806  3742.700439
1 2019-01-01    Tuesday  3850.913818  ...  3843.520020  4324200990  3843.520020
2 2019-01-02  Wednesday  3947.981201  ...  3943.409424  5244856835  3943.409424
3 2019-01-03   Thursday  3935.685059  ...  3836.741211  4530215218  3836.741211
4 2019-01-04     Friday  3865.934570  ...  3857.717529  4847965467  3857.717529

[5 rows x 8 columns]

In [14]:
df.rename(columns={'Adj Close':'AdjClose'}, inplace=True)
df.head()

        Date        Day         High  ...        Close      Volume     AdjClose
0 2018-12-31     Monday  3868.742920  ...  3742.700439  4661840806  3742.700439
1 2019-01-01    Tuesday  3850.913818  ...  3843.520020  4324200990  3843.520020
2 2019-01-02  Wednesday  3947.981201  ...  3943.409424  5244856835  3943.409424
3 2019-01-03   Thursday  3935.685059  ...  3836.741211  4530215218  3836.741211
4 2019-01-04     Friday  3865.934570  ...  3857.717529  4847965467  3857.717529

[5 rows x 8 columns]

In [15]:
df['Return'] = df.AdjClose.pct_change()
df.head()

        Date        Day         High  ...      Volume     AdjClose    Return
0 2018-12-31     Monday  3868.742920  ...  4661840806  3742.700439       NaN
1 2019-01-01    Tuesday  3850.913818  ...  4324200990  3843.520020  0.026938
2 2019-01-02  Wednesday  3947.981201  ...  5244856835  3943.409424  0.025989
3 2019-01-03   Thursday  3935.685059  ...  4530215218  3836.741211 -0.027050
4 2019-01-04     Friday  3865.934570  ...  4847965467  3857.717529  0.005467

[5 rows x 9 columns]

In [16]:
df.dropna(how='any', inplace=True)
df.head()

        Date        Day         High  ...      Volume     AdjClose    Return
1 2019-01-01    Tuesday  3850.913818  ...  4324200990  3843.520020  0.026938
2 2019-01-02  Wednesday  3947.981201  ...  5244856835  3943.409424  0.025989
3 2019-01-03   Thursday  3935.685059  ...  4530215218  3836.741211 -0.027050
4 2019-01-04     Friday  3865.934570  ...  4847965467  3857.717529  0.005467
5 2019-01-05   Saturday  3904.903076  ...  5137609823  3845.194580 -0.003246

[5 rows x 9 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364 entries, 1 to 364
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      364 non-null    datetime64[ns]
 1   Day       364 non-null    object
 2   High      364 non-null    float64
 3   Low       364 non-null    float64
 4   Open      364 non-null    float64
 5   Close     364 non-null    float64
 6   Volume    364 non-null    int64
 7   AdjClose  364 non-null    float64
 8   Return    364 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 28.4+ KB