<a href="https://colab.research.google.com/github/cristiandarioortegayubro/Ciencia-de-Datos-en-Ciencias-Economicas-con-Python/blob/master/Pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas 01** - ANÁLISIS DE DATOS - **INTRODUCCIÓN**

## Carga de librerías necesarias

In [1]:
import numpy as np
import pandas as pd

## Creación de un DataFrame - Extracción de datos

In [2]:
import pandas_datareader as pdr
BTC2019 = pdr.DataReader("BTC-USD", start='2019-01-01', end='2019-12-31', data_source='yahoo')

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
df = pd.DataFrame(BTC2019)

## Tipos de datos del DataFrame y tamaño

In [4]:
df.dtypes

High         float64
Low          float64
Open         float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 366 entries, 2019-01-01 to 2020-01-01
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       366 non-null    float64
 1   Low        366 non-null    float64
 2   Open       366 non-null    float64
 3   Close      366 non-null    float64
 4   Volume     366 non-null    int64
 5   Adj Close  366 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 20.0 KB

In [6]:
df.shape

(366, 6)

## Visualización de los datos del DataFrame

In [7]:
df.head()

                   High          Low  ...      Volume    Adj Close
Date                                  ...
2019-01-01  3850.913818  3707.231201  ...  4324200990  3843.520020
2019-01-02  3947.981201  3817.409424  ...  5244856835  3943.409424
2019-01-03  3935.685059  3826.222900  ...  4530215218  3836.741211
2019-01-04  3865.934570  3783.853760  ...  4847965467  3857.717529
2019-01-05  3904.903076  3836.900146  ...  5137609823  3845.194580

[5 rows x 6 columns]

In [8]:
df.tail()

                   High          Low  ...       Volume    Adj Close
Date                                  ...
2019-12-28  7399.041016  7286.905273  ...  21365673026  7317.990234
2019-12-29  7513.948242  7279.865234  ...  22445257701  7422.652832
2019-12-30  7454.824219  7276.308105  ...  22874131671  7292.995117
2019-12-31  7335.290039  7169.777832  ...  21167946112  7193.599121
2020-01-01  7254.330566  7174.944336  ...  18565664996  7200.174316

[5 rows x 6 columns]

In [9]:
df.index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2019-12-23', '2019-12-24', '2019-12-25', '2019-12-26',
               '2019-12-27', '2019-12-28', '2019-12-29', '2019-12-30',
               '2019-12-31', '2020-01-01'],
              dtype='datetime64[ns]', name='Date', length=366, freq=None)

In [10]:
df.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')